<mat-toolbar>
    <span>{{service.form.controls['$key'].value?"Modify Payee":"Create Payee"}}</span>
    <span class= "fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click) = "onClose()" tabIndex= "-1"><mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>

<form [formGroup]="service.form" class= "normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <input formControlName="payeeName" matInput placeholder="Payee Name">   
                    <mat-error>This field is empty.</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <input formControlName="ein" matInput placeholder="EIN">
                    <mat-error *ngIf="service.form.controls['ein'].errors?.required">This field is empty.</mat-error>
                    <mat-error *ngIf="service.form.controls['ein'].errors?.maxlength">Only 10 charactors needed.</mat-error>
                    <mat-error *ngIf="service.form.controls['ein'].errors?.minlength">Minimum 10 charactors needed.</mat-error>   
                </mat-form-field>

                <mat-form-field>
                    <mat-select formControlName="department" placeholder="RAD Vendor">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let department of departmentService.array">
                            <mat-option value="{{department.$key}}">{{department.code}}-{{department.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select formControlName="department" placeholder="Payee Category">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let department of departmentService.array">
                            <mat-option value="{{department.$key}}">{{department.code}}-{{department.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select formControlName="department" placeholder="Approval Status">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let department of departmentService.array">
                            <mat-option value="{{department.$key}}">{{department.code}}-{{department.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <div class="add-bottom-padding">
                    <mat-radio-group formControlName="gender">
                        <label><b>Is Uses Billing?    </b></label>
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="add-bottom-padding">
                    <mat-radio-group formControlName="gender">
                        <label><b>Is Prompts Pay?    </b></label>
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div> 
                <div class="add-bottom-padding">
                    <mat-radio-group formControlName="gender">
                        <label><b>Is ACH Available?    </b></label>
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field>
                    <mat-select formControlName="department" placeholder="Payee Speciality">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let department of departmentService.array">
                            <mat-option value="{{department.$key}}">{{department.code}}-{{department.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="department" placeholder="Payment Status">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let department of departmentService.array">
                            <mat-option value="{{department.$key}}">{{department.code}}-{{department.name}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
               
                
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>
        </mat-grid-tile>
        </mat-grid-list>
</form>
